.backSpaceIcon {
  top: 15px;
  color: grey;
}

.numberDisplay {
  color: black;
  font-size: 35px;
  text-align: center;
}

.numberLabel {
  height: 1em
}

.subText {
  font-size: 10px;
}

.phoneButton {
  width: 3.2em;
  height: 3.2em;
}
